body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 10px 300px;
    align-items: center;
}

.header-logo {
    color: #e5e7eb;
    font-weight: 800;
}

ul {
    display: flex;
    list-style-type: none;
    /* justify-content: space-evenly; */
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    /* margin-left: 20px; */
}

.main-section {
    display: flex;
    justify-content: space-between;
    padding: 100px 300px;
    align-items: center;
    background-color: #1f2937;
}

.main-section > img {
    width: 600px;
    height: 280px;
    border: 2px solid rgb(19, 51, 99);
    border-radius: 10px;
}

button {
    background-color: #3882F6;
    color: white;
    font-family: roboto, sans-serif;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    font-size: 15px;
}

.main-section-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    max-width: 400px;
    font-weight: 800;
}

.secondary-text {
    max-width: 400px;
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 200;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    background-color: white;
    gap: 20px;
    padding: 50px 0px;
}

.info-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    gap: 100px;
}

.info-container >
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.info-container > .container > img {
    height: 150px;
    width: 150px;
    flex-shrink: 0;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.img-subtext {
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.quote-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d2d7dd;
    padding: 60px 0px;
}

.quote-section >
.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 250;
    max-width: 500px;
}

.quote-section >
.qoute-author {
    display: flex;
    margin-left: 300px;
    font-weight: 700;
}

.call-to-action-container {
    padding: 70px 0px;
    display: flex;
    justify-content: center;
}

.call-to-action {
    display: flex;
    gap: 200px;
    background-color: #3882F6;
    padding: 30px 100px;
    border-radius: 7px;
}

.call-to-action >
.text {
    display: flex;
    flex-direction: column;
}

.action-header {
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.action-subtext {
    margin-top: 5px;
    color: white;
}

.call-to-action >
button {
    padding: 5px 40px;
    border: 2px solid white;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 50px;
}

.footer > .text {
    color: #e5e7eb;
    font-size: 15px;
    font-weight: 300;
}

